<div data-role ='header' data-theme='e'>
    <h1>GottaGo</h1>
    <%= link_to 'New Bathroom', new_bathroom_path , "data-role" => "button" , "data-icon" => "plus",
    "data-iconpos" => "notext" %>
</div>
<ul data-role='listview'>
    <% @bathrooms.each do |bathroom| %>
    <li data-theme="c">
        <%= link_to(bathroom) do%>
        <img src="assets/RSS_toilet.png">
        <h1><%= bathroom.building %></h1>
        <p><%= bathroom.notes %></p>
        <% end %>
    </li>
<% end %>
</ul>

<footer data-role='footer' data-theme='e'>
    <nav data-role='navbar'>
        <ul>
            <li><a>Home</a></li>
            <li><a>About Us</a></li>
            <li><a>Suggestions</a></li>
        </ul>
    <nav>
</footer>