<!DOCTYPE html>
<html>
<head>
  <meta charset = utf-8>
  <title>Because you Gotta Go -- Find and rate bathrooms near you</title>
  <%= stylesheet_link_tag    "http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.css", :media => "all" %>
  <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" , "http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1"/>
</head>
<body>
<%= yield %>

</body>
</html>
